<!DOCTYPE html>
<html lang="en">
<head>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css'/>
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- GENERAL CONTAINER -->
    <div class="general" id="app">

        <!-- HEADER CONTAINER -->
        <div class="header d-flex">
            <div class="logo-header">
                <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/201126/22e019e4f6a229a283d1ba762a5f9b6a.png" alt="netflix-font" border="0"></a>
            </div>
            <!-- INPUT CONTAINER -->
            <div class="input-container">
                <input 
                    @keyup.enter="filterMovies"      v-model="movieName" type="text"     placeholder="inserisci titolo"
                >
                <button 
                    @click="filterMovies">
                    clicca qui
                </button>
            </div>
        </div>
        
        <!-- MAIN CONTENT CONTAINER -->
        <div class="main-content-container d-flex">

                <!-- MOVIES DATA CONTAINER -->
            <div class="container-movie-data"
                 v-for="film in arrayMovie"
            >
            <div class="layover">
                Trama : {{film.overview}}
            </div>
               <div class="title">
                   <div v-if="film.title">
                        Titolo : {{film.title}}
                   </div>
                    <div v-if="film.name">
                        Titolo :  {{film.name}}
                    </div>
               </div>
               <div class="original-title">
                    Titolo Originale : {{film.original_title}}
               </div>
               <div 
                    v-if="film.original_language === 'en' " class="language">
                    Lingua : <img class="bandiere" src="./en.png"   alt="eng">
                </div>
                <div 
                    v-else-if="film.original_language === 'it'     "    class="language">
                    Lingua : <img  class="bandiere"src="./it.png"   alt="ita">
                </div>
                <div 
                    v-else class="language">
                    Lingua : {{film.original_language}}
                </div>
           
           
                <div class="rating">
                   Voto medio: 
                   <i 
                    v-for="star in convertStar(film.vote_average)     " 
                    class="fas fa-star">          
                    </i>
                    <i 
                    v-for="star in 5 - convertStar(film.vote_average)    "
                    class="far fa-star"
                    >
            
                    </i>
                </div>
    
                <div class="poster">
                    <span v-if="film.poster_path !== null">
                        <img :src="`https://image.tmdb.org/t/p/w342/${film.poster_path}`" alt="">
                    </span >
                    <span v-else>
                        <img class="w342" src="https://rettiljungle.com/wp/wp-content/uploads/2016/08/no-image-icon-21.png" alt="">
                    </span>
                </div>

            </div>
            <!-- END MOVIES DATA CONTAINER -->
        
        </div>
    <!-- MAIN CONTENT CONTAINER END -->

    </div> 
    <!-- END GENERAL CONTAINER -->

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- js -->
    <script src="./js/main.js"></script>
</body>
</html>